---
layout: default
---

{% assign design = site.books | where:'genre', 'design-ux' %}
{% assign programming = site.books | where:'genre', 'programming' %}
{% assign business = site.books | where:'genre', 'business' %}
{% assign non-fiction = site.books | where:'genre', 'non-fiction' %}
{% assign fiction = site.books | where:'genre', 'fiction' %}


<h2>Design / UX</h2>
<div class="book-list">
    {% for book in design %} {% include book-list-item.html %} {% endfor %}
</div>

<h2>Programming</h2>
<div class="book-list">
    {% for book in programming %} {% include book-list-item.html %} {% endfor %}
</div>

<h2>Business</h2>
<div class="book-list">
    {% for book in business %} {% include book-list-item.html %} {% endfor %}
</div>

<h2>Non-Fiction</h2>
<div class="book-list">
    {% for book in non-fiction %} {% include book-list-item.html %} {% endfor %}
</div>

<h2>Fiction</h2>
<div class="book-list">
    {% for book in fiction %} {% include book-list-item.html %} {% endfor %}
</div>

