<li class="book-list__book">
    <a href="{{book.link}}">
        <img class="book-list__book--cover" src="img/covers/{{book.slug}}.jpg" alt="{{book.title}}">
        <div class="book-list__book--details">
            <p class="book-list__book--title">{{ book.title }}</p>
            <p class="book-list__book--author">{{book.author}}</p>
            <!-- <p class="book-list__book--genre">{{book.genre}}</p>
                <p class="book-list__book--slug">{{book.slug}}</p>
                <p class="book-list__book--review">{{book.review}}</p> -->
        </div>
    </a>
</li>