html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: $grey-light;
    color: $grey-space;
    margin: 0 auto;
    padding: 0;
    font: normal normal normal 100%/1.5 sans-serif;

}
a {
    color: $blue-aqua;
}
p {
    margin-top: 0;
}

img {
    max-width:100%;
    height:auto;
}