---
layout: default
---
<article class="book-item" itemscope itemtype="http://schema.org/Book">
  <header>
    <h1 class="book-title">
      {{page.title|escape}}
      <span class="book-author">
        by {{page.author}}
      </span>
    </h1>

  </header>
  <div class="book-review" itemprop="review">
    <div class="cover">
      <img class="book-cover" src="{{page.slug|prepend:'/img/covers/'|append:'.jpg'|relative_url}}" alt="{{page.title}}">
    </div>
    <div class="review">
      {{content}}
      {% if page.buylink %}
      <p>
        <a class="button button__primary" href="{{page.buylink|escape}}" target="_blank">Get it on Amazon</a>
      </p>
      {% endif %}
    </div>
  </div>


  <footer>
    
  </footer>
</article>
